[color]
  ui = true

[user]
  name = michael
  email = *****@*****.***

[credential]
  helper = cache --timeout 3600

[alias]
  s   = status -s
  st  = status
  sun = status -uno
  br  = branch
  ci  = commit
  cl  = clone
  cm  = commit -m
  co  = checkout
  cp  = cherry-pick
  dc  = diff --cached
  df  = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  del = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d" # Remove branches merged with master
  lg  = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %d %s\" --all --date=short
  ll  = log --pretty=oneline --graph --decorate --all
  l   = log --pretty=oneline --graph --abbrev-commit -n

[help]
  autocorrect = 1

[merge]
  log = true

[push]
  # simple | current | matching
  default = current
  followTags = true

[core]
  editor = /usr/local/bin/subl
  excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain